
<p>
  <strong>Title:</strong>
  <%= @slide.title %>
</p>

<p><%= image_tag("/assets/#{@slide.title}")%></p>

<p>
  <strong>Likes:</strong>
  <%= @slide.likes %>
</p>

<div id="comments">
	<%= render @slide.comments %>
</div>
<div>
	<%= form_for ([@slide.pdf_file, @slide, @slide.comments.new]) do |f| %>
	<div class="field">
		<%= f.label :comment %>
		<%= f.text_area :comment, size: "25x5" %>
	</div>
	<div class="actions">
		<%= f.submit "add new comment" %>
	</div>
	<% end %>
</div>


